*{ 
    margin: 0 ;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}
header{
    display: flex;
    height: 60px;
   background-color: mediumvioletred;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
} 
header div{
    display: flex;
    align-items: center;
    
    width: 150px;
    justify-content: space-evenly
}

header img{
    width: 20px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
}
button{
    width: 54px;
}
#titulo{
    
    font-size: 23px;
    
}
.bolinho{
    margin-top: 3px;
}
main{
    display: flex;
    flex-grow: 1;
}
#tabela{
    flex-grow: 1;
    background-color: blue;
}
#menu{
    display: grid;
    width: 200px;
   background-color: #f2d0e0;
   grid-template-columns: 200px;
   grid-template-rows: 40px 40px 40px 40px 1fr;
   justify-items: start;
   align-items: center
}
#menu img{
    width: 13px;
}
#home{
    display: grid;
    width: 200px;
    align-items: center;
    justify-items: start;
    grid-template-columns: 33px 1fr 1fr;
}
.imagem-primeira{
    justify-self: center;
    margin-bottom: 3px;
    margin-right: 3px;
}
#home p{
    grid-column-start:2 ;
    
}
.imagem-segunda{
    grid-column-start: 3;
    justify-self: center;
}
#produtos{
    display: grid;
    width: 200px;
    align-items: center;
    justify-items: start;
    grid-template-columns: 33px 1fr 1fr;
    align-items: stretch
}
#produtos img{
    justify-self: center;
}
#carinho{
    display: grid;
    width: 200px;
    align-items: center;
    justify-items: start;
    grid-template-columns: 33px 1fr 1fr;
    align-items: stretch
}
#perfil{
    display: grid;
    width: 200px;
    align-items: center;
    justify-items: start;
    grid-template-columns: 33px 1fr 1fr;
    align-items: stretch
}
footer{
  display: flex;
    background-color: mediumvioletred;
    height: 50px;
    justify-content: center;
    padding: 0 10px;
    align-items: center;
}
footer img{
    display: inline;
    width: 18px;
    margin-left: 5px;
}
footer p{
    display: inline;
}

