*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 70px 1fr 45px;
    grid-template-columns: 1fr;

}
header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding:0 20px;
    background-color: orange;
    align-items: center;
}
#divBusca{
    width:300px;

}
  
#txtBusca{
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
}
main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin: 20px;
   justify-content: stretch;
}
.tabela-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: start;
    box-shadow: 2px 2px 5px green;
    color: black;
}
.tabela-card a{
    color: black;
    text-decoration: none;
}

.imagem-card{
    width: 100%;
}
footer{
    display: flex;
    justify-content:center;
    height: 60px;
    padding: 30px;
    background-color: rgba(252, 240, 81, 0.568);
    align-items: center;
}
@media screen and (max-width: 800px){
    #txtBusca{padding-left: 5px;
    font-size: 15px;
    border: none;
    height: 3.5vh;
    width: 65%;
    margin-left: 30%;
}

    main{
        grid-template-columns: 1fr;
}
}
@media screen and (min-device-wdth:800px) and (max-device-width : 1440px){
main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin: 20px;
    justify-content: center;
 
}

}