*{
    margin: 0px; 
    padding: 0px;
    box-sizing: 0;

}
h2{
    background-color: bisque;
    color: rgb(238, 45, 110);
    text-align:center

}
.links{
    
  
    right: 900px;
    bottom: 0px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100vw ;
  
 background-color: rgb(243, 139, 157);
 padding: 10px ;
 
}
/* .div{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100vw ;
  
 background-color: rgb(243, 139, 157);
 padding: 10px ;
 } */
#titulo{
    color:rgb(219, 92, 78);
    text-align: center;
    width: 100vw ;
    background-color: rgb(243, 139, 157);
    padding:10px ;
    font-size: 30px;
    font-style: italic;
 
}
table{
    width: 40%;
    margin:auto;
    text-align: center;
}

 body{
    background-color: bisque;
}
.pagina-inicial{
    color: rgb(175, 7, 35);
    right: 900px;
}
.Controle{
    color: rgb(85, 2, 30);
  
}
.add-produtos{
    color: rgb(180, 49, 71);
}
.Funcionarios{
    color:rgb(128, 63, 73);
    
}
